  <div class="ggmap container">
        <h2 class="heading-title">スペシャルなぐだぐだ商店</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11662.62640229421!2d141.3552133!3d43.0486562!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa51ee23caae15d00!2z5Lit5bO25YWs5ZyS6aeF!5e0!3m2!1sja!2sjp!4v1504846938497" width="600" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
<footer class="footer container">
    <div class="footer__inner">
      <ul class="footer__list">
        <li class="footer_item">
          <a href="#">ホーム</a>
        </li>
        <li class="footer_item">
          <a href="#">骨董品</a>
        </li>
        <li class="footer_item">
          <a href="#">水着</a>
        </li>
        <li class="footer_item">
          <a href="#">食料品</a>
        </li>
        <li class="footer_item">
          <a href="#">アクセス</a>
        </li>
        <li class="footer_item">
          <a href="#">ブログ</a>
        </li>
        <li class="footer_item">
          <a href="#">サイトマップ</a>
        </li>
      </ul>
      <p class="footer__address"><span>ぐだぐだ商店
      </span><br>〒064-0810 北海道中央区南10条西3丁目1<br>TEL:011-000-0000</p>
    </div>

    <p class="footer__copy container"><small>&copy; 2017 Electric Parts</small></p>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="common/js/functions.js"></script>
</body>
</html>