<main class="container">
  <div class="row">
  <div class="col-9 col-sm-12" style="background:#333;height:200px">.col-12</div>
  <div class="col-4 col-sm-8" style="background:#aaf;height:500px">.col-8<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.</div>
  <div class="col-6 col-sm-4" style="background:#faa;height:500px">.col-6<br>Subsequent columns continue along the new line.</div>
</div>
</main>