<main class="container">
  <div class="row">
  <div class="col-9 col-sm-12" style="background:rgba(33,33,33,0.1);height:300px"><% include ./_header-hero %></div>
  <div class="col-4 col-sm-8" style="background:#aaf;height:500px"><p></div>
  <div class="col-6 col-sm-4" style="background:#faa;height:500px"></div>
</div>
</main>