<nav>
  <ul class="nav__list">
    <li class="nav__item"><a href="#">ホーム</a></li>
    <li class="nav__item"><a href="#">骨董品</a></li>
    <li class="nav__item"><a href="#">水着</a></li>
    <li class="nav__item"><a href="#">食料品</a></li>
    <li class="nav__item"><a href="#">アクセス</a></li>
    <li class="nav__item"><a href="#">ブログ</a></li>
  </ul>
</nav>
