/*.text {
  background: $background;
  color : #f55;
}*/
nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

nav > ul a {
  background: #aaa;
  text-decoration: none;
  padding: 20px 40px;
}

.box, .sample01 {
  background: #faa;
}

.box > .text, .sample01 > .text {
  color: #aaf;
}

.box:hover, .sample01:hover {
  background: #fa2;
}

@media screen and (max-width: 400px) {
  .box, .sample01 {
    background: #f33;
    height: 300px;
  }
}

.sample01 {
  line-height: 1.5;
}

.sample03 {
  font-size: 1.6rem;
  border-radius: 4px;
  text-decoration: none;
  transition: all 300ms 20ms ease-in;
}

.sample03:hover {
  box-shadow: 2px 2px 2px #333;
  width: 350px;
}

.footer {
  background: #2c2c2c;
  width: 100px;
  height: 100px;
  transition: all 800ms 0s ease;
}

.footer:hover {
  background: #5070ff;
  width: 400px;
  height: 400px;
  transform: rotate(90deg);
  box-shadow: 2px -2px 4px #333;
}
